<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:panel id="horizontal" header="#{servico.contratante.nome} - #{servico.turnoFormatado}" toggleable="true" toggleOrientation="horizontal">
            <h:panelGrid columns="2" cellpadding="5">
                <h:outputText value="Diarista" />
                <h:outputText value="#{servico.diarista.nome}" style="font-weight: bold"/>

                <h:outputText value="Data" />
                <h:outputText value="#{servico.dataFormatada}" style="font-weight: bold"/>

                <h:outputText value="Turno" />
                <h:outputText value="#{servico.turnoFormatado}" style="font-weight: bold"/>

                <h:outputText value="Contratante" />
                <h:outputText value="#{servico.contratante.nome}" style="font-weight: bold"/>

                <h:outputText value="Telefone" />
                <h:outputText value="#{servico.contratante.telefone}" style="font-weight: bold"/>

                <h:outputText value="E-mail" />
                <h:outputText value="#{servico.contratante.email}" style="font-weight: bold"/>

                <h:outputText value="Estado" />
                <h:outputText value="#{servico.estadoFormatado}" style="font-weight: bold"/>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </h:panelGrid>
        </p:panel>
    </cc:implementation>
</html>