<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:panel id="horizontal" header="#{solicitacao.contratante.nome} - #{solicitacao.turnoFormatado}" toggleable="true" toggleOrientation="horizontal">
            <h:panelGrid columns="2" cellpadding="5">
                <h:outputText value="Diarista" />
                <h:outputText value="#{solicitacao.diarista.nome}" style="font-weight: bold"/>

                <h:outputText value="Data" />
                <h:outputText value="#{solicitacao.dataFormatada}" style="font-weight: bold"/>

                <h:outputText value="Turno" />
                <h:outputText value="#{solicitacao.turnoFormatado}" style="font-weight: bold"/>

                <h:outputText value="Contratante" />
                <h:outputText value="#{solicitacao.contratante.nome}" style="font-weight: bold"/>

                <h:outputText value="Telefone" />
                <h:outputText value="#{solicitacao.contratante.telefone}" style="font-weight: bold"/>

                <h:outputText value="E-mail" />
                <h:outputText value="#{solicitacao.contratante.email}" style="font-weight: bold"/>

                <p:commandButton action="#{servicoMB.aceitar(solicitacao)}" value="Aceitar" >
                    <p:confirm header="Solicitação" message="Deseja aceitar a solicitação de serviço?" icon="ui-icon-alert" />
                </p:commandButton>
                <p:commandButton action="#{servicoMB.cancelar(solicitacao)}" value="Cancelar" >
                    <p:confirm header="Solicitação" message="Deseja cancelar a solicitação de serviço?" icon="ui-icon-alert" />
                </p:commandButton>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </h:panelGrid>
        </p:panel>
    </cc:implementation>
</html>