<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:body>
            <ui:composition template="./template.xhtml">
                <ui:define name="center">
                    <p:layoutUnit position="center">
                        <h:form>
                            <h:panelGrid columns="2" >
                                <p:outputLabel for="usuario" value="Usuário " />
                                <p:inputText id="usuario" value="#{usuarioMB.usuario}" required="true" />

                                <p:outputLabel for="senha" value="Senha " />
                                <p:password id="senha" value="#{usuarioMB.senha}" required="true" feedback="true" />

                                <p:outputLabel for="nome" value="Nome " />
                                <p:inputText id="nome" value="#{usuarioMB.nome}" required="true" />

                                <p:outputLabel for="email" value="E-mail " />
                                <p:inputText id="email" value="#{usuarioMB.email}" required="false" />

                                <p:outputLabel for="telefone" value="Telefone " />
                                <p:inputText id="telefone" value="#{usuarioMB.telefone}" required="true" />
                                
                                <p:outputLabel  for="data" value="Data" />
                                <p:calendar id="data" value="#{usuarioMB.data}" effect="fold" />

                                <p:outputLabel for="turno" value="Turno " />
                                <p:selectOneMenu id="turno" value="#{usuarioMB.turno}" style="width:125px" >
                                    <f:selectItem itemLabel="Selecione" itemValue="" />
                                    <f:selectItem itemLabel="Manhã" itemValue="M" />
                                    <f:selectItem itemLabel="Tarde" itemValue="T" />
                                    <f:selectItem itemLabel="Diária" itemValue="D" />
                                </p:selectOneMenu>
                                
                                <p:commandButton value="Cadastrar" id="cadastrar" action="#{usuarioMB.cadastrar}" />
                            </h:panelGrid>
                        </h:form>
                    </p:layoutUnit>
                </ui:define>
            </ui:composition>
        </h:body>
    </f:view>
</html>

