<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:ce="http://xmlns.jcp.org/jsf/composite/componentExtraido">

    <f:view contentType="text/html">
        <h:body>
            <ui:composition template="./template.xhtml">
                <ui:define name="center">
                    <p:layoutUnit position="center">
                        <h:form id="form">
                            <!--busca-->
                            <p:outputLabel for="data" value="Data " />
                            <p:calendar id="data" value="#{servicoMB.data}" effect="fold" pattern="dd/MM/yyyy" mask="true" />
                            <br/>

                            <p:outputLabel for="turno" value="Turno " />
                            <p:selectOneMenu id="turno" value="#{servicoMB.turno}" style="width:125px">
                                <f:selectItem itemLabel="Selecione" itemValue="" />
                                <f:selectItem itemLabel="Manhã" itemValue="M" />
                                <f:selectItem itemLabel="Tarde" itemValue="T" />
                                <f:selectItem itemLabel="Diária" itemValue="D" />
                            </p:selectOneMenu>
                            <br/>
                            <p:commandButton process="@form" update="@form" value="Buscar" actionListener="#{servicoMB.buscarHistoricos}" />

                            <!--resultado-->
                            <p:dataList id="resultado" value="#{servicoMB.servicos}" var="servico" type="unordered" itemType="none" rendered="#{servicoMB.mostrarResultado}">
                                <c:choose>
                                    <!--visualização para diarista-->
                                    <c:when test="#{usuarioMB.usuarioLogadoDiarista}" >
                                        <ce:historicoDiarista/>
                                    </c:when>
                                    <!--visualização para contratante-->
                                    <c:when test="#{usuarioMB.usuarioLogadoContratante}">
                                        <ce:historicoContratante/>
                                    </c:when>
                                    <c:otherwise>
                                        <h1>
                                            Erro: nenhum perfil foi identificado.
                                        </h1>
                                    </c:otherwise>
                                </c:choose>
                            </p:dataList>
                        </h:form>
                    </p:layoutUnit>
                </ui:define>
            </ui:composition>
        </h:body>
    </f:view>
</html>
