<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:body>
            <ui:composition template="./template.xhtml">
                <ui:define name="center">
                    <p:layoutUnit position="center">
                        <h:form id="form">
                            <!--busca-->
                            <p:outputLabel for="data" value="Data " />
                            <p:calendar id="data" value="#{servicoMB.data}" effect="fold" pattern="dd/MM/yyyy" mask="true" />
                            <br/>

                            <p:outputLabel for="turno" value="Turno " />
                            <p:selectOneMenu id="turno" value="#{servicoMB.turno}" style="width:125px">
                                <f:selectItem itemLabel="Selecione" itemValue="" />
                                <f:selectItem itemLabel="Manhã" itemValue="M" />
                                <f:selectItem itemLabel="Tarde" itemValue="T" />
                                <f:selectItem itemLabel="Diária" itemValue="D" />
                            </p:selectOneMenu>
                            <br/>
                            <p:commandButton process="@form" update="@form" value="Buscar" actionListener="#{servicoMB.buscar}" />

                            <!--resultado-->
                            <p:dataList id="resultado" value="#{servicoMB.diaristas}" var="diarista" type="unordered" itemType="none" rendered="#{servicoMB.mostrarResultado}">                            
                                <p:panel id="horizontal" header="#{diarista.nome} - #{diarista.turnoFormatado}" toggleable="true" toggleOrientation="horizontal">
                                    <h:panelGrid columns="2" cellpadding="5">
                                        <h:outputText value="Telefone" />
                                        <h:outputText value="#{diarista.telefone}" style="font-weight: bold"/>

                                        <h:outputText value="E-mail" />
                                        <h:outputText value="#{diarista.email}" style="font-weight: bold"/>

                                        <p:commandButton action="#{servicoMB.solicitar(diarista)}" value="Solicitar">
                                            <p:confirm header="Solicitação" message="Deseja solicitar o serviço?" icon="ui-icon-alert" />
                                        </p:commandButton>
                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                        </p:confirmDialog>
                                    </h:panelGrid>
                                </p:panel>
                            </p:dataList>
                        </h:form>
                    </p:layoutUnit>
                </ui:define>
            </ui:composition>
        </h:body>
    </f:view>
</html>

