<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:body>
            <ui:composition template="./template.xhtml">
                <ui:define name="center">
                    <p:layoutUnit position="center">
                        <h:form>
                            <h:panelGrid columns="2" >
                                <p:outputLabel for="usuario" value="Usuário " />
                                <p:inputText id="usuario" value="#{usuarioMB.usuario}" required="true" />

                                <p:outputLabel for="senha" value="Senha " />
                                <p:password id="senha" value="#{usuarioMB.senha}" required="true" feedback="true" />

                                <p:commandButton value="Entrar" id="entrar" action="#{usuarioMB.login}" />
                            </h:panelGrid>
                        </h:form>
                    </p:layoutUnit>
                </ui:define>
            </ui:composition>
        </h:body>
    </f:view>
</html>

