<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>SuperDiarista</title>
        </f:facet>
    </h:head>
    
    <h:body>
        <p:layout fullPage="true">            
            <!--north-->
            <div id="north" >
                <ui:insert name="north">
                    <p:layoutUnit position="north" size="150">
                        <h1><p:link outcome="index?faces-redirect=true" value="SuperDiarista" /></h1>
                    </p:layoutUnit>
                </ui:insert>
            </div>
            <!--west-->
            <div id="west">
                <ui:insert name="west">
                    <p:layoutUnit position="west" size="200" header="Menu" resizable="true" collapsible="true">
                        <h:panelGrid columns="1" >
                            <p:link outcome="login?faces-redirect=true" value="Entrar" />

                            <p:link outcome="cadastrar?faces-redirect=true" value="Cadastrar" />

                            <p:commandLink action="#{servicoMB.solicitacoes}" value="Solicitações" />

                            <p:commandLink action="#{servicoMB.historicos}" value="Históricos" />

                            <p:commandLink action="#{usuarioMB.logout}" value="Sair" >
                                <p:confirm header="Logout" message="Deseja realmente sair do sistema?" icon="ui-icon-alert" />
                            </p:commandLink>

                            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                        </h:panelGrid>
                    </p:layoutUnit>
                </ui:insert>
            </div>
            <!--center-->
            <div id="center">
                <ui:insert name="center">
                    <ui:insert name="center">Conteúdo</ui:insert>
                </ui:insert>
            </div>
            <!--south-->
            <div id="south">
                <ui:insert name="south">
                    <p:layoutUnit position="south" size="150">
                        Copyright, 2015.
                    </p:layoutUnit>
                </ui:insert>
            </div>
        </p:layout>        
    </h:body>
    
</html>
